body {
    background-color: #000;
    color: white;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
}

.searchbar {
    margin-right: 5px;
}

.app-title {
    font-size: 40px;
}

/*Artist*/
.Artist {
    margin-top: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 30px;
}

.artist-name {
    font-size: 30px;
    font-weight: bold;
}

.artist-image {
    width: 200px;
    height: 200px;
    border: 3px solid #FFF;
    border-radius: 50%;
    overflow: hidden;
}

.artist-image-inner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.artist-info {
    margin-left: 10px;
}

/*Gallery*/
.Gallery {
    width: 100%;
}

.track {
    width: 220px;
    height: 220px;
    border: 3px solid #fff;
    position: relative;
}

.track-img {
    width: 220px;
    height: 220px;
    position: absolute;
}